<section id="todos">
    <header>
        <h2>Editing "<%= @list[:name] %>"</h2> 
        <ul>
          <li>
            <form action="/lists/<%= @list_id %>/delete" method="post">
                <button type="submit" class="delete">Delete List</button>
            </form>
          </li>
        </ul>
    </header>
</section>

<% content_for :header_links do %>
    <a class="list" href="/lists">All Lists</a>
<% end %>

<form action="/lists/<%= @list_id %>/edit" method="post">
    <dl>
        <dt>
            <label for="new_name">Enter the new name for your <%= @list[:name] %> list:</label>
        </dt>
        <dd>
            <input name="new_name" placeholder="New Name" type="text" value="<%= params[:new_name] || @list[:name] %>">
        </dd>
    </dl>
    <fieldset class="actions">
        <input type="submit" value="Update">
        <a href="/lists/<%= @list_id %>">Cancel</a>
    </fieldset>
</form>